/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Enable these styles if you wish to go into a grid layout.

ul#images li {
    width: 120px;
    height: auto;
    display: inline-block;
    position: relative;
    float: left;
}

ul#images li img {
    display: inline-block;
    width: 100%;
    height: auto;
}

ul#images li button {
    display: inline-block;
}

--- End of grid layout styles. */

ul#images {
    list-style-type: none;
}

ul#images .placeholder {
    font-size: 2em;
    color: #666;
    width: 100%;
    margin: 2em;
}
.modal-body img {
    width: 100%;
    height: auto;
}

hr {
    clear:both;
}

/* List item styling */
ul#images {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
ul#images .placeholder {
  color: #3F51B5;
  width: 100%;
  font-size: 2em;
  margin: 2em;
}
#images li {
  width: 400px;
  border-radius: 4px;
  padding: 40px;
  margin-bottom: 30px;
}
.image-title {
  color: black;
  font-size: 20px;
  font-weight: 250;
}
.flickr-link {
  background-color: #ff0066;
  color: white;
  padding: 4px;
  margin-right: 10px;
}
.flickr-link:hover {
  background-color: #E91E63;
  color: white;
  padding: 4px;
}












